<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>What is the Gorgon Exchange</title>
  <meta name="description" content="Find players who hold a checkpoint for the Gorgon chest in Destiny. Join their fireteam and have a chance of receiving an exotic armor or weapon!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/normalize.css">
</head>
<body>
  <section class="container">
    <div class="row-fluid">
      <aside class="span4">
        <h3>Table of Contents</h3>
      </aside>

      <article class="span8">
        <h4>How does the Gorgon Exchange work</h4>
        <p>
          The gorgon exotic checkpoint chest exchange gathers the information from
          sources that are already available on the web like the Reddit fireteam's
          sub-reddit and looking for group sites like destinylfg. We search these
          sites on an fixed interval for references that relates to the gorgon
          chests. Once all results are received we analyze and filter the data
          so we can remove posts that are out of date or closed by the creators.
          This results in a list which is sorted on creation time of these
          topics so the newest is always at the top of our site.
        </p>

        <h4>Who's the creative genius behind this application?</h4>
        <p>
          The Gorgon Exchange was build by Arnout Kazemier, better known as 3rd-Eden or
          as <strong>i3rdEden</strong> on destiny. He's real-time technology
          specialist and passionate software engineer from the Netherlands who loves
          working with high available &amp; scalable systems. Calling him an open
          source enthusiast would be putting it lightly: Arnout is the author of
          Primus and dozens of other open source projects.
        </p>
        <p>
          Speaking of open source, this project and it's source code has been build
          upon and released as open source software. You can find the source code on
          <a href="https://github.com/DestinyTheGame/gorgon.exchange">destinythegame/gorgon.exchange</a>
          on GitHub.
        </p>

        <h4>Get in touch</h4>
        <dl class="dl-horizontal">
          <dt>PSN:</dt>
          <dd>i3rdEden</dd>
          <dt>Twitter:</dt>
          <dd>@3rdEden</dd>
          <dt>GitHub:</dt>
          <dd>@3rd-Eden</dd>
        </dl>
      </article>
    </div>
  </section>
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','<%= analytics %>','auto');ga('send','pageview');
  </script>
</body>
</html>
