.box
  display: block
  margin-bottom: 10px
  padding: 10px

  a:first-letter
    text-transform: uppercase

  &:before
    color: #FFF
    display: inline-block
    margin-left: -38px
    margin-right: 11px
    transform: rotate(-90deg)
    box-sizing: border-box

  &.Xbox-One
    border-left: 30px solid #2CAD4D

    &:before
      content: 'XB1'

  &.Xbox-360
    border-left: 30px solid #D1D4D6

    &:before
      content: '360'

  &.PS3
    border-left: 30px solid #000000

    &:before
      content: 'PS3'

  &.PS4
    border-left: 30px solid #3889BC

    &:before
      content: 'PS4'
