.filter
  padding-bottom: 40px

  h2
    font-size: 12px
    font-weight: 700
    color: #959595
    text-transform: uppercase
    letter-spacing: 1px

  button
    font-weight: 600

    &.XB1
      color: #2CAD4D

    &.XB360
      color: #D1D4D6

    &.PS3
      color: #000000

    &.PS4
      color: #3889BC

.box
  display: block
  margin-bottom: 10px
  padding: 10px

  &.old
    filter: grayscale(100%)
    -webkit-filter: grayscale(100%)

  a:first-letter
    text-transform: uppercase

  &:before
    color: #FFF
    display: inline-block
    margin-left: -38px
    margin-right: 11px
    transform: rotate(-90deg)
    box-sizing: border-box

  &.Xbox-One
    border-left: 30px solid #2CAD4D

    &:before
      content: 'XB1'

  &.Xbox-360
    border-left: 30px solid #D1D4D6

    &:before
      content: '360'

  &.PS3
    border-left: 30px solid #000000

    &:before
      content: 'PS3'

  &.PS4
    border-left: 30px solid #3889BC

    &:before
      content: 'PS4'
