.box
  display: block
  margin-bottom: 10px
  padding: 10px

  &:before
    color: #FFF
    display: inline-block
    margin-left: -40px
    margin-right: 15px
    transform: rotate(-90deg)

  .Xbox-One
    border-left: 30px solid #2CAD4D

    &:before
      content: 'XB1'

  .Xbox-360
    border-left: 30px solid #D1D4D6

    &:before
      content: '360'

  .PS3
    border-left: 30px solid #000000

    &:before
      content: 'PS3'

  .PS4
    border-left: 30px solid #3889BC

    &:before
      content: 'PS4'
